#face{
    height: 400px;
    width: 400px;
    background-color: #ffa511;
    border-radius: 50%;
}

#mouth{
    height: 80px;
    width: 200px;
    background-color: brown;
    position: absolute;
    top: 250px;
    left: 100px;
    border-radius: 0 0 50px 50px;
}

#reye,#leye{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 100px;
}

#reye{
    left:250px;
}